/* General styles ofr hte home section + hamburger menu */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 1.125rem;
    font-weight: 350;
    font-feature-settings: "ss03";
}

html, body {
    height: 100%;
    background-color: #101218; 
    color: #cdd6f4; 
    scroll-behavior: smooth; 
}
@keyframes slideUpText {
    from {
        transform: translateY(20px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}
/* Apply animation to each piece of text with different delays */
.name-slide-up, .occupation-slide-up, .education-slide-up {
    opacity: 0; 
    animation: slideUpText 0.8s ease-out forwards;
}

.name-slide-up {
    animation-delay: 0.2s; /* Delays to stagger the appearance of each text element */
}

.occupation-slide-up {
    animation-delay: 0.4s;
}

.education-slide-up {
    animation-delay: 0.6s;
}
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adds space between the text and the arrow */
    margin-top: 40px;
}

.scroll-text {
    font-size: 1.5rem;
    color: #cdd6f4;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 46, 0.95); /* Semi-transparent background */
    transition: backdrop-filter 0.3s ease-in-out; /* Smooth transition for blur effect */
    z-index: 1000; 
}
.nav-branding {
    display: flex;
    align-items: center;
    height: 50px; 
}

.nav-logo {
    height: 70px; 
    width: auto; 
    margin-top: 0px;
    margin-left: 0px;
}
.blur-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay */
    backdrop-filter: blur(16px); 
    -webkit-backdrop-filter: blur(16px); 
    top: 0;
    left: 0;
    z-index: -1; 
}
li {
    list-style: none;
}

a {
    color: #cdd6f4;;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    min-height: 70px; 
}
/* Increase font size of links in the dropdown menu */
.nav-item .nav-link {
    font-size: 1.3rem; 
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.8s ease;
    position: fixed;
    top: -100%;
    left: 0;
    padding-bottom: 20px; /* Add padding to ensure space for footer */
  
}

.nav-menu.active {
    top: 70px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

/* Underline effect for links in fullscreen view */
@media (min-width: 480px) {
    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #cdd6f4;
        transition: width 0.3s ease; 
    }
}
.nav-link:hover::after {
    width: 100%;
}
.nav-link:hover {
    color: #e6eafa;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #cdd6f4;
}

.dropdown-footer {
    display: none;
    width: 100%; 
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, width 1s ease; 
    position: relative;
    margin-top: 0; 
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-footer hr {
    border: 1px solid #cdd6f4;
    width: 0; 
    transition: width 2s ease; 
    margin: 0 auto; 
    align-self: center; 
    margin-left: 10%; 
}

.dropdown-footer .footer-text {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-top: 10px; 
}

.dropdown-footer p {
    color: #cdd6f4;
    font-size: 1rem;
    opacity: 0; 
    transition: opacity 1s ease; 
    margin: 0 10px;
}
.nav-menu.active .nav-link {
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-menu {
        background-color: #181825; /* background color of dropdown menu */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        margin: 8px 0;
        opacity: 0; 
        animation: slideIn 1s forwards; 
    }

    .nav-menu.active .nav-item {
        animation-delay: 0.2s; 
        animation-duration: 0.1s; 
        opacity: 1; 
    }

    .nav-menu.active .dropdown-footer {
        display: flex;
        opacity: 1; 
    }

    .nav-menu.active .dropdown-footer hr {
        width: 80%; 
    }

    .nav-menu.active .dropdown-footer p {
        opacity: 1; 
    }
}
@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.dropdown-footer hr {
    transition: width 4s ease; 
    width: 0; 
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.scroll-text, .arrow-box, .down-arrow {
    opacity: 0; /* Start invisible */
    animation: slideUpText 0.8s ease-out forwards;
}

.scroll-text {
    animation-delay: 0.8s; /
}

.arrow-box {
    animation-delay: 1s; 
}
.footer-link {
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards; 
}
.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

.centered-text h1 {
    font-size: 4rem; 
    margin-bottom: 75px;
}
.centered-text .occupation {
    margin-bottom: 30px; 
}
.centered-text .education {
    white-space: pre-line; 
}
.centered-text p {
    font-size: 1.5rem; 
    margin-top: 0;
}
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 40px; 
}

.scroll-text {
    margin-right: 20px;
    font-size: 1.5rem;
}
@media (min-width: 769px) {
    .nav-menu {
        position: static;
        flex-direction: row;
        gap: 60px;
        background-color: transparent;
        margin-left: auto;
        width: auto;
    }

    .navbar {
        justify-content: space-between;
    }

    .dropdown-footer {
        display: none; 
    }
}
/*Media queries for phones*/
@media (max-width: 480px) {
   
    .centered-text h1 {
        font-size: 2.6rem; 
    }

    .centered-text .occupation, .centered-text .education {
        font-size: 1rem; 
    }

    .centered-text p {
        font-size: 1.24rem; 
        padding: 2px;
    }

    .scroll-text {
        font-size: 1.19rem; 
    }

    .down-arrow {
        font-size: 1.5rem; 
    }
    .arrow-box{
        font-size: 0.5rem;
    }
   .nav-logo{
    height:50px;
    width:50px;
   }
   .nav-link{
    font-size: 1.25rem;
   }
   .footer-link{
    font-size: 1rem;
   }
}
/* About Me section ----------------------------------------------------------------------------------------------------------------- */
/*section animation (slide-up)*/
@keyframes slideUp {
    from {
        transform: translateY(60px); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-section {
    padding: 60px 20px;
    background-color: #101218; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(50px); /* Match the starting point with the keyframes */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; 
}

.about-section.in-view {
    opacity: 1;
    transform: translateY(0);
}

.about-header-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.about-section h2 {
    font-size: 2.6rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
}

.about-divider {
    height: 2px;
    background-color: #cdd6f4;
    opacity: 0.2;
    width: 320px;
    position: absolute;
    left: calc(100% - 0px);
    top: 55%;
    transform: translateY(-50%);
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-box {
    width: 80%;
    background-color: #101218; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #cdd6f4;
    font-size: 1.125rem;
    text-align: left;
    opacity: 0;
    transform: translateY(60px); /* Match the starting point with the keyframes */
    animation-fill-mode: forwards;
    animation: slideUp 1.5s ease-out forwards; 
}

.about-section p {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 1rem;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
}

.tech-column {
    min-width: 150px;
}

.tech-item {
    display: block;
    text-indent: 0;
    padding-left: 15px;
}

/* Responsive Adjustments for slightly larger screens */
@media (max-width: 768px) {
    .about-section h2 {
        font-size: 1.8rem;
    }

    .tech-list {
        flex-direction: column;
        padding: 0 10px;
    }

    .tech-column {
        flex: 1 1 100%;
        max-width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    .tech-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .about-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about-content {
        flex: 1;
        margin: 10px;
    }

    .about-image {
        flex: 0 1 50%;
        margin: 10px;
        max-width: 350px;
    }

    .about-image img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
        transform: translate(-30px);
    }
}
/*mobile adjustments for small screens*/
@media (max-width: 480px) {
    .about-section {
        padding: 40px 15px; 
    }

    .about-header-container {
        padding-left: 15px; 
    }

    .about-section h2 {
        font-size: 2rem; 
    }

    .about-box {
        font-size: 1rem; 
    }

    .about-section p {
        font-size: 1rem; 
        margin-left: 15px; 
        margin-bottom: 15px; 
    }

    .tech-list {
        gap: 20px; 
    }

    .tech-item {
        padding-left: 10px; 
    }
    .about-divider{
        font-size: 0rem;
        left:calc(207px - 0px);
        top: 23px;
        width: 100px; 
    }
    .about-image img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
        transform: translate(-20px);
    }
}
/* Experience section styles----------------------------------------------------------- */


.fade-in-section { /* Animation for fading in and sliding up */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-section.is-visible { 
    opacity: 1;
    transform: translateY(0px);
}

.experience-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 100px;
}

.experience-container {
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 350px;
}

.experience-menu {
    width: 15%;
    padding: 10px;
}
.experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-left: 2px solid #4D4D4D; 
    color: #A6A6A6;
    opacity: 0.6; 
    transition: color 0.3s ease, opacity 0.3s ease, border-left-color 0.3s ease, background-color 0.3s ease; /* Smooth transition for all properties */
}

.experience-item:hover, .experience-item.highlighted {
    opacity: 1; 
    color: #fff; 
    background-color: #1C1C2D
}

.experience-item.highlighted {
    border-left: 2px solid #fff; 
}
.experience-details {
    width: 70%;
    padding: 20px;
    padding-top: 5px;
}
.experience-header h2 {
    font-size: 2.6rem;
    margin-bottom: 100px;
    padding-left: 30px;
}
.company-name, .time-frame, .role-description, .role-detail {/* Styles for titles and text within details */
    color: #cdd6f4; 
    padding: 5px 0;
    line-height: 1.5;
    font-size: 4rem;
}
.timeframe {
    padding-bottom: 15px;
    font-size: 1rem;
}

.role-detail {
    position: relative; 
    padding-left: 30px; 
    margin-bottom: 10px; 
    font-size: 1rem;
}

.role-detail i {
    position: absolute; 
    left: 0; 
    top: 0; 
    margin-right: 3px; 
    color: #fff; 
}

.experience-divider { /*dividing line after experience text*/
    position: absolute;
    margin-top: -125px;
    left: 305px;
    width: 17%;
    height: 2px;
    background-color: #cdd6f4;
    opacity: 0.2;
}
.ri-arrow-right-s-fill, .ri-calendar-2-line {
    color: #cdd6f4; 
    vertical-align: middle;
    margin-right: 5px;
}
.detail-container h3 {
    font-size: 2.2rem; 
    padding-bottom: 10px;
}

/*Media queries for small devices*/
@media (max-width: 480px) {
    .experience-container {
        flex-direction: column; 
        margin-left: 0;
        margin-bottom: 20px;
    }

    .experience-menu {
        width: 100%; 
        display: flex; 
        flex-wrap: nowrap; 
        overflow-x:auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-color: #cdd6f4;
    }

    .experience-menu::-webkit-scrollbar {
        width: 6px; /* Width of the vertical scrollbar */
        height: 6px; /* Height of the horizontal scrollbar */
    }
    
    .experience-menu::-webkit-scrollbar-thumb {
        background-color: #686868; /* Color of the scroll thumb */
    }
    
    .experience-menu::-webkit-scrollbar-track {
        background-color: transparent; /* Color of the scroll track */
    }

    .experience-item {
        flex: 0 0 auto; 
        padding: 10px;
        border-left: none !important; 
        border-bottom: 2px solid transparent; 
        box-sizing: border-box; 
        white-space: nowrap; 
        transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease; /* Smooth transitions */
        border-bottom: 2px solid #686868;
        margin-top: 10%;
    }

    .experience-item:hover, .experience-item.highlighted {
        opacity: 1;
        color: #fff;
        background-color: #1C1C2D;
        border-bottom: 2px solid #fff; 
    }

    .experience-details {
        width: 100%; /* Full width for detail display */
        padding: 20px;
    }

    .experience-header h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .experience-divider {
        left:calc(200px - 0px);
        top: 144px;
        width: 70px; 
    }

    .detail-container h3 {
        font-size: 1.6rem;
        padding-bottom: 5px;
        margin-top: 10%;
    }
}
/* Media queries for small to medium devices */
@media (max-width: 768px) {
    .experience-container {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .experience-menu {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .experience-menu::-webkit-scrollbar {
        width: 6px; /* Width of the vertical scrollbar */
        height: 6px; /* Height of the horizontal scrollbar */
    }
    
    .experience-menu::-webkit-scrollbar-thumb {
        background-color: #686868; 
    }
    
    .experience-menu::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    .experience-item {
        flex: 1 1 auto;
        padding: 10px;
        border-left: none !important;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        white-space: nowrap;
        transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
        border-bottom: 2px solid #686868;
        margin-top: 10%;
    }

    .experience-item:hover, .experience-item.highlighted {
        opacity: 1;
        color: #fff;
        background-color: #1C1C2D;
        border-bottom: 2px solid #fff; 
    }

    .experience-details {
        width: 100%; /* Full width for detail display */
        padding: 20px;
    }

    .experience-header h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .experience-divider {
        left:calc(220px - 0px);
        top: 147px;
        width:100px; 
    }

    .detail-container h3 {
        font-size: 1.6rem;
        padding-bottom: 5px;
        margin-top: 10%;
    }
}
/* Projects section styles -------------------------------------------------------------------------------------------------*/
.section-header {
    width: 100%; 
    text-align: left; 
    padding-left: 20px; 
    position: relative; 
}

.projects-section h2 {
    font-size: 2.6rem; 
    color: #cdd6f4; 
    margin-bottom: 10px; 
    padding-left: 40px;
}

.section-divider {
    position: absolute; 
    margin-top: -35px;
    left: 265px;
    width:17%; 
    height: 2px; 
    background-color: #cdd6f4; 
    opacity: 0.2; 
}
.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    background-color: #101218; 
    padding-right: 80px;
    width: 90%;
}

.project {
    background-color: #2a2a3d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); 
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease; 
    
}
.github-icon {
    position: absolute;
    top: 10px;  
    right: 10px;  
    font-size: 30px;  
    color: #cdd6f4;  
    cursor: pointer;  
}
.project:hover {
    transform: scale(1.05); 
}

.project h3 {
    font-size: 1.5rem;
    color: #cdd6f4;
    margin-bottom: 20px;
}

.project p {
    font-size: 1.15rem;
    color: #cdd6f4;
    flex-grow: 1;
    padding-bottom: 40px;
    padding-top: 20px;
}
.project-footer {
    font-size: 1rem;
    color: #cdd6f4;
    padding-top: 10px;
}
#projects {
    margin-bottom: 100px;
}
.about-section {
    padding-bottom: 400px;
}

/*Responsive for tablets and simi-small devices--------------------*/
@media (max-width: 768px) {
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .project {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
    }
    .projects-section h2 {
        font-size: 2rem; 
        padding-left: 10px; 
    }
    .section-divider {
        left:calc(195px - 0px);
        top: 56px;
        width: 100px; 
    }
}
/*Responsive for mobile--------------------*/
@media (max-width: 480px) {
    .projects-section h2 {
        font-size: 2rem; 
        padding-left: 10px; 
    }
    .projects-section{
       padding-left: 2px;
       padding-right: 30px;
    }

    .project {
        width: 100%; 
        margin-bottom: 5px; 
        padding: 15px; 
    }

    .project h3 {
        font-size: 1.3rem; 
        margin-bottom: 15px; 
    }

    .project p {
        font-size: 1rem; 
        padding-top: 15px; 
        padding-bottom: 30px;
    }

    .project-footer {
        font-size: 0.9rem; 
        padding-top: 8px; 
    }

    .section-divider {
        left:calc(188px - 0px);
        top: 56px;
        width: 125px; /* Reduce width for smaller screens */
    }
}
/*Footer section + icons styles--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.site-footer {
    background-color: #101218; 
    color: #cdd6f4;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%; 
}
.site-footer p{
    font-size: .9rem;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.footer-icons i { /* Space between icons and size of icons */
    font-size: 25px; 
    color: #cdd6f4; 
    margin: 0 10px; 
}
.footer-icons i:hover {
    color: #ffffff; 
}
/*responsive styles for mobile*/
@media (max-width: 480px) {
    .site-footer {
        padding: 10px 0; 
        font-size: 10px; 
    }
    .site-footer p{
        font-size: 0.75rem;
    }

    .footer-icons {
        margin-top: 5px; 
    }

    .footer-icons i {
        font-size: 20px; 
        margin: 5px;
    }
}


/*General stylees for the entire page excluding the #home section and information above that.----------------------------------------------------------------------------------*/
section {
    padding-left: 10%;
}
#header, #home {
    padding-left: 0; 
}
section {
    margin-left: 10%; 
}
#header, #home {
    margin-left: 0; 
}
#home {
    position: relative;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease-out;
}
.faded {
    opacity: 0;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
