:root {
    --about-padding-right: 230px; 
}

body, html {
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
    background-color: #0a192f;
    color: white;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    background-color: #0a192f;
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 10px;
}

.navbar a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    transition: background 0.3s;
    display: inline-block;
}

.navbar a:hover,
.navbar a.active {
    background-color: #555;
}

section {
    min-height: 800px;
    padding-top: 60px;
}

.center-text {
    text-align: left;
    padding-left: 230px;
    margin-top: 150px;
}

.container {
    display: inline-block;
}

.text {
    font-size: 3em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    border-color: #64ffda;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 2s steps(19),
      cursor .5s step-end infinite alternate;
}

.name {
    color: #64ffda;
}

.subtitle {
    color: #C0C2C9;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    font-size: 1.1em;
    margin-left: 5px; 
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif; 
    color: #C0C2C9; 
}

.container.active .subtitle {
    opacity: 1;
    transform: translateY(0px);
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}    
    to {width: 28ch;}
}

.about-header, .about-text, .tech-header, .tech-list li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-section.active .about-header, .about-section.active .about-text, .about-section.active .tech-header, .about-section.active .tech-list li {
    opacity: 1;
    transform: translateY(0px);
    color: white;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}

.about-header {
    font-size: 3em;
    letter-spacing: 10px;
    font-family: monospace;
    color: #C0C2C9;
}

.about-text {
    font-size: 1.1em; 
    color: #C0C2C9; 
}

.highlight {
    color: #C0C2C9; 
}

.highlight-about {
    color: #64ffda; 
}

.about-container {
    padding-left: 230px; 
    padding-right: 70px; 
}

.tech-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 16px 0; 
}

.tech-list li {
    flex: 0 0 25%; 
    box-sizing: border-box; 
    padding-left: 10px; 
    color: #C0C2C9;
}


/* Dash symbol */
.tech-list li::before {
    content: "–"; 
    margin-right: 8px; 
    color: #64ffda; 
}

#projects {
    background-color: #112240;
    padding: 40px 20px;
}

.projects-header, .project-box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.projects-header {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: monospace;
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between; 
    max-width: 100%; 
    margin: 0 auto;
    background-color: transparent;
}

.project-box {
    width: 45%; 
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: rgba(10, 25, 47, 0.9); 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #64ffda;
    text-align: center; 
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif; 
}

.project-description {
    font-size: 1em;
    color: #C0C2C9; 
    flex-grow: 1; 
}

.project-technologies {
    font-size: 1em;
    color: #C0C2C9; 
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    margin-top: 20px; 
}

.project-box hr {
    border: 0;
    border-top: 1px solid #C0C2C9; 
    margin: 10px 0; 
}

.project-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px; 
    height: auto;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #64ffda;
    text-align: center; 
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif; 
}

.project-description {
    font-size: 1em;
    color: #C0C2C9; 
    margin-bottom: 20px;
}

.project-technologies {
    font-size: 1em;
    color: #C0C2C9; 
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    margin-top: 50px;
}

.projects-section.active .projects-header, .projects-section.active .project-box {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        padding: 10px 0;
    }

    .navbar a {
        font-size: 15px;
        padding: 10px;
    }

    .center-text {
        padding-left: 20px;
        margin-top: 100px;
    }

    .text, .subtitle, .about-header, .about-text, .projects-header, .project-box {
        padding-left: 20px;
    }

    .text {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1em;
    }

    .about-header {
        font-size: 2em;
        letter-spacing: 5px;
    }

    section {
        padding-top: 50px;
    }

    .projects-container {
        padding-left: 20px;
    }
}
button, 
input[type="submit"], 
input[type="button"] {
    background-color: #64ffda;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover {
    background-color: #555;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #C0C2C9;
    background-color: transparent;
    color: white;
}
@media (max-width: 768px) {
    .navbar a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .center-text,
    .text,
    .about-header,
    .projects-header {
        padding: 0 20px; /* Reduces padding/margin on smaller screens */
        text-align: center; /* Centers text for better readability on small devices */
    }

    .circle {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .contact-info {
        flex-direction: column;
        gap: 20px;
    }
}
.experience-section {
    background-color: #0a192f;
    padding: 40px 20px;
}

.experience-header {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: monospace;
    margin-bottom: 40px;
    color: #64ffda;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-item {
    width: 80%;
    background-color: #112240;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

.experience-item h3 {
    color: #64ffda;
    margin-bottom: 10px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container2{
    padding:10px 50px;
    position: relative;
    width: 50%;
    background-color: rgba(0,0,0,0.3)
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container2{
    left:0;
}

.right-container2{
    left:50%;
}
