/*core styles*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 100px;
    background-color: #101218; 
    color: #fff; 
}
/*main content box*/
.tech-doc-content {
    flex-grow: 1;
    padding: 40px;
    max-width: 800px; 
    margin: 0 auto; 
}

.tech-doc-content h2 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center; 
    margin-bottom: 20px; 
}
/*main image under role title*/
.ta-image {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px; 
}
/*controls the following (Role, Skills, Timeline, Tools)*/
.categories-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

.categories-left, .categories-right {
    width: 45%; 
}

.categories-left {
    text-align: left; 
}

.categories-right {
    text-align: right; 
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px; 
}

p {
    margin-bottom: 10px; 
    font-weight: 350;
    font-size: 1.125rem;
}

.categories-left h4:first-of-type + p,
.categories-right h4:first-of-type + p {
    margin-bottom: 2em; 
    display: block;
}
/*overview section*/
.experience-description {
    width: 100%;
    margin-left: 0;
}

.experience-description h3 {
    font-size: 1.5rem;
    color: #e2e8f0;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.Key-contributions h3 {
    font-size: 1.5rem;
    color: #e2e8f0;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.experience-description p {
    text-indent: 2em;
    line-height: 1.4;
    font-size: 1.1rem;
    color: #e2e8f0;
    margin-bottom: 2rem;
}

/* Left nav menu (vertical line) */
.experience-nav {
    width: 200px;
    padding: 1rem 1rem 1rem 1.5rem; /* Add left padding for the line */
    position: sticky;
    top: 100px; /* Adjust based on header height (optional) */
    align-self: flex-start;
    background-color: #101218; 
    position: relative; /* required for pseudo element */
}

.experience-nav__heading {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff; 
    margin-bottom: 1.5rem; /* modifies space below heading */
    text-transform: uppercase;
    padding-left: 0.5rem; /* align with the nav tabs */
}

/* tabs list */
.experience-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0.5rem; /* indent tabs */
}

/* tabs links */
.experience-nav__link {
    color: #A6A6A6;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
    display: block;
    padding: 0.25rem 0;
    border-left: 2px solid #A6A6A6; /* default border color */
    padding-left: 0.5rem; /*  padding to align text with the border */
}

/*controls tab actions once an action is performed*/
.experience-nav__link--selected {
    color: #fff; 
    font-weight: 600;
    border-left: 2px solid #fff; /* highlight left border */
}

.experience-nav__link:hover {
    color: #fff; 
    border-left: 2px solid #fff; /* highlight  left border on hover */
}
