/*core styles*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 100px;
    background-color: #101218; 
    color: #cdd6f4; 
}
html {
    scroll-behavior: smooth;
  }

  section {
    margin-left: 0;
    padding-left: 0;
}

/*main content box*/
.tech-doc-content {
    flex-grow: 1;
    padding: 40px;
    max-width: 945px; 
    margin: 0 auto;
}

.tech-doc-content h2 {
    font-size: 1.9rem;
    color: #cdd6f4;
    text-align: center; 
    margin-bottom: 20px; 
    font-weight: bolder;
}
/*main image under role title*/

/*controls the following (Role, Skills, Timeline, Tools)*/
.categories-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
    gap: 170px;
}
.categories-left, .categories-right {
    width: 45%; 
}

.categories-left {
    text-align: left; 
}

.categories-right {
    text-align: left; 
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px; 
    margin-top: 3rem;
}
h3 {
    font-size: 1.5rem;
    color: #cdd6f4;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
    font-weight: 600;
    text-align: center;
    font-weight: bold;
}
p {
    margin-bottom: 10px; 
    font-weight: 350;
    font-size: 1.125rem;
}

.categories-left h4:first-of-type + p,
.categories-right h4:first-of-type + p {
    margin-bottom: 2em; 
    display: block;
}
/*overview section*/
.experience-description {
    width: 100%;
    margin-left: 0;
}
.experience-section {
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
    padding: 0; 
    box-sizing: border-box; 
}

.experience-description h3 {
    font-size: 1.5rem;
    color: #cdd6f4;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.experience-description a {
    color: #b4befe; 
    text-decoration: underline;
    
}
.experience-description p {
    line-height: 1.4;
    font-size: 1.1rem;
    color: #cdd6f4;
    margin-bottom: 2rem;
}

/* Left nav menu (vertical line) */
.experience-nav {
    width: 250px;
    padding: 1rem 1rem 1rem 1.5rem; /* Add left padding for the line */
    position: fixed;
    top: 150px; 
    align-self: flex-start;
    background-color: #101218; 
}

.experience-nav__heading {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff; 
    margin-bottom: 1.5rem; /* modifies space below heading */
    text-transform: uppercase;
    padding-left: 0.5rem; /* align with the nav tabs */
}
/* tabs list */
.experience-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0.5rem; /* indent tabs on nav */
}
/* tabs links */
.experience-nav__link {
    color: #A6A6A6;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
    display: block;
    padding: 0.25rem 0;
    border-left: 2px solid #A6A6A6; 
    padding-left: 0.5rem; 
}
.experience-nav__link--selected {
color: #fff;
border-left: 2px solid #fff;
}
.experience-nav__link:hover {
    color: #fff; 
    border-left: 2px solid #fff; 
}
/* controlls indent sub-tabs under their parent category */
.experience-nav__list .sub-tab {
    padding: .1875rem .5rem; 
    padding-left: 1.5rem; 
}
.experience-section {
    display: block;
    width: 100%;
    max-width: 945px; 
    margin: 0 auto;
    margin-left: 0;
}
.experience-description a,
.experience-section a {
    color: #b4befe; 
    text-decoration: underline; 
}
.ta-image {
    width: 100%; 
    max-width: 930px; 
    display: block; 
    margin: 0 auto 125px auto; 
    border-radius: 8px; 
}
/*media queries for other devices (mobile, tablet, desktop and large screens)------------*/
/* mobile devices */
@media (max-width: 767px) {
    .experience-nav {
        display: none; 
    }
    .tech-doc-content {
        padding: 20px; 
        margin: 0 10px; 
    }
    .categories-container {
        flex-direction: column; 
        gap: 20px;
    }
    .categories-left, .categories-right {
        width: 100%; 
        text-align: center; 
    }
    .experience-description p {
        text-indent: 0; 
    }
}
/* tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .experience-nav {
        width: 150px; 
        padding: 1rem; 
    }
    .tech-doc-content {
        padding: 30px 0  30px 50px; 
        max-width: 450px; 
        gap: 10px;
    }
    .categories-container {
        flex-direction: row; 
        justify-content: space-around; 
    }
    .categories-left, .categories-right {
        width: 48%; 
    }
}
/* desktops and larger screens */
@media (min-width: 1024px) {
    .tech-doc-content {
        padding: 30px 0  30px 30px; 
        max-width: 930px; 
    }
}
/* MacBook air general media query */
@media (min-width: 1280px) {
    
    .tech-doc-content {
        padding: 60px; 
        max-width: 1200px;
    }
    .categories-container {
        gap: 220px; 
    }
    .experience-section {
        padding: 30px 0  30px 193px;  
        max-width: 930px; 
    }
}
/* Vertical monitors (portrait orientation) */
@media (orientation: portrait) {
    body {
        flex-direction: row;
    }
    .experience-nav {
        width: 130px;
        position: fixed;
        top: 150px;
        left: 0;
        height: calc(100vh - 150px);
        padding: 1rem;
    }
    .tech-doc-content {
        padding: 30px 30px 30px 200px; 
        max-width: 930px; 
        box-sizing: border-box;
        width: 100%; 
    }
    .categories-container {
        flex-direction: row; 
        justify-content: space-around;
        gap: 30px;
    }
    .categories-left, 
    .categories-right {
        width: 48%; 
        text-align: left;
    }
    .ta-image {
        max-width: 100%;
        margin-bottom: 80px;
    }
}


